<h1>{{course.name}} {{course.term}}</h1>

<div ng-show="flashed" class="alert alert-success">{{flash}}</div>

<div class="lecturers">
	<p>by {{course.teachers.join(' ')}}</p>
</div>

<div class="boxed">

	<h3 ng-init="parti=false" ng-click="parti = !parti">Participants</h3>

	<table ng-show="parti && course.participants.length>0" border="1">
		<thead>
			<th>name</th>
			<th>number</th>
			<th ng-repeat="lecture in course.lectures">
				{{lecture.date|date}}
				{{lecture.time}}
			</th>		
		</thead>
		<tbody>
			<tr ng-repeat="student in course.participants|orderBy:'name'">
				<td>{{student.name}}</td>
				<td>{{student.number}}</td>
				<td ng-repeat="lecture in course.lectures">
					&nbsp;&nbsp;&nbsp;{{registered(student, lecture)}}
				</td>
			</tr>	
		</tbody>
	</table>	

</div>

<div class="boxed">

	<h3 ng-init="lectures=false" ng-click="lectures = !lectures">Lectures</h3>

    <div ng-show="lectures">

	<table class="table" ng-show="course.lectures.length>0">
		<thead>
			<th>date</th>
			<th>time</th>
			<th>room</th>
			<th>speaker</th>	
		</thead>
		<tbody>
			<tr ng-repeat="lecture in course.lectures">
				<td><a href="#lectures/{{lecture._id}}">{{lecture.date|date}}</a></td>
				<td>{{lecture.time}}</td>
				<td>{{lecture.place}}</td>
				<td>{{lecture.speaker}}</td>
			</tr>
		</tbody>
	</table>

	<togglable title="Create a new lecture or seminar session" condition='createLectureFormVisible' class="whiteboxed">
		<form role="form">
			<div class="form-group">
				<label>date</label>
				<input type="date" ng-model="lecture.date" class="form-control">
			</div>
			<div class="form-group">
				<label>time</label>
				<input type="time" ng-model="lecture.time" class="form-control">
			</div>
			<div class="form-group">
				<label>place</label>
				<input type="text" ng-model="lecture.place" class="form-control"
				placeholder="Enter lecture room">
			</div>
			<div class="checkbox">
    			<label>
      				<input type="checkbox" ng-model="lecture.seminar" > seminar
    			</label>
  			</div>
			<div class="form-group" ng-show="lecture.seminar">
				<label>speaker</label>
				<input type="text" ng-model="lecture.speaker" class="form-control"
				placeholder="Enter the speaker of the seminar session">
			</div>
			<div>
				<button class="btn btn-primary" ng-click="createLecture()">create</button>	
			</div>
			
		</form>

	</togglable>

	</div>

</div>	

<togglable title="Register a student" alternative="Register a student" condition='registrationFormVisible' class="boxed">
	<form role="form" name="form">
		<div class="form-group">
			<label>first name </label>   
			<input type="text" ng-model="student.first_name" class="form-control" required
			placeholder="first name">
		</div>
		<div class="form-group">
			<label>last name </label>
			<input type="text" ng-model="student.last_name" class="form-control" required
			placeholder="last name">
		</div>
		<div class="form-group">
			<label>student number</label>
			<input type="text" ng-model="student.number" class="form-control" required ng-pattern="student_number" name="number"
			placeholder="student number">
		</div>
		<div ng-show="form.number.$error.pattern">
			<em>student number with leading zero!</em>
    		</div>
		<button ng-disabled="form.$invalid"  
			ng-click="registerStudent()"
			class='btn'
			ng-class="{'btn btn-primary': form.$valid}"
		>register
		</button>

	</form>
</togglable>

<div class="boxed">

	<h3 ng-init="mass=false" ng-click="mass = !mass">Import students from WebOodi excel</h3>

	<form ng-show="mass" action="/upload" enctype="multipart/form-data" method="post">
	  <input type="hidden" name="course_id" value="{{course._id}}">
	  <input id="file" type="file" name="upload" multiple="multiple"><br>
	  <input class="btn btn-primary" type="submit" value="Upload">
	</form>

</div>




