<h1>Courses</h1>

<flash></flash>

<table class="table hover">
	<thead>
		<th>name</th>
		<th>term</th>
		<th>lectured by</th>	
	</thead>
	<tbody>
		<tr ng-repeat="course in courses">
			<td><a href="#courses/{{course._id}}">{{course.name}}</a></td>
			<td>{{course.term}}</td>
			<td>{{course.teachers.join(' ')}}</td>
		</tr>
	</tbody>
</table>

<togglable title="create a new course" condition='creationFormVisible' class="boxed">
	<form role="form">
		<div class="form-group">
	    	<label>name</label>
	    	<input type="text" ng-model="new.name" class="form-control" placeholder="Enter course name">
	  	</div>
		<div class="form-group">
			<label>term</label>
			<input type="text" ng-model="new.term" class="form-control" placeholder="Enter term, eg. Spring 2014">
		</div>
		<div class="form-group">
			<label>teached by</label>		
			<input type="text" ng-model="new.teacher" class="form-control" placeholder="Enter teachers">	
		</div>
		<button class="btn btn-primary" ng-click="newCourse()">create</button>
	</form>
</togglable>