<h1>{{course.name}} {{course.term}}</h1>

<div ng-show="flashed" class="alert alert-success">{{flash}}</div>

<div class="lecturers">
	<p>by {{course.teachers.join(' ')}}</p>
</div>

<div class="boxed">

	<h3 ng-init="parti=false" ng-click="parti = !parti">Participants</h3>

	<table ng-show="parti" border="1">
		<thead>
			<th>name</th>
			<th>number</th>
			<th ng-repeat="lecture in course.lectures">
				&nbsp;{{lecture.date|date}}&nbsp;
			</th>	
		</thead>
		<tbody>
			<tr ng-repeat="student in course.participants">
				<td>{{student.name}}</td>
				<td>{{student.number}}</td>
				<td ng-repeat="lecture in course.lectures">
					&nbsp;&nbsp;&nbsp;{{registered(student, lecture)}}
				</td>
			</tr>	
		</tbody>
	</table>	

</div>

<div class="boxed">

	<h3 ng-init="lectures=false" ng-click="lectures = !lectures">Lectures</h3>

    <div ng-show="lectures">

	<table class="table">
		<thead>
			<th>date</th>
			<th>time</th>
			<th>room</th>	
		</thead>
		<tbody>
			<tr ng-repeat="lecture in course.lectures">
				<td><a href="#lectures/{{lecture._id}}">{{lecture.date|date}}</a></td>
				<td>{{lecture.time}}</td>
				<td>{{lecture.place}}</td>
			</tr>
		</tbody>
	</table>

		<div class="whiteboxed">

		<h4 ng-init="createLectureForm=false" ng-click="createLectureForm=!createLectureForm">Create a new lecture</h4>

			<form ng-show="createLectureForm" role="form">
				<div class="form-group">
					<label>date</label>
					<input type="date" ng-model="lecture.date" class="form-control">
				</div>
				<div class="form-group">
					<label>time</label>
					<input type="time" ng-model="lecture.time" class="form-control">
				</div>
				<div class="form-group">
					<label>place</label>
					<input type="text" ng-model="lecture.place" class="form-control">
				</div>
				<button class="btn btn-primary" ng-click="createLecture()">create</button>
			</form>

		</div>	

	</div>

</div>	

<div class="boxed">

	<h3 ng-init="reg=false" ng-click="reg = !reg">Register a student</h3>

	<form ng-show="reg" role="form">
		<div class="form-group">
			<label>first name </label>   
			<input type="text" ng-model="student.first_name" class="form-control">
		</div>
		<div class="form-group">
			<label>last name </label>
			<input type="text" ng-model="student.last_name" class="form-control">
		</div>
		<div class="form-group">
			<label>student number</label>
			<input type="text" ng-model="student.number" class="form-control">
		</div>
		<button class="btn btn-primary" ng-click="registerStudent()">register</button>
	</form>

</div>

<div class="boxed">

	<h3 ng-init="mass=false" ng-click="mass = !mass">Import students from WebOodi excel</h3>

	<form ng-show="mass" action="/upload" enctype="multipart/form-data" method="post">
	  <input type="hidden" name="course_id" value="{{course._id}}">
	  <input id="file" type="file" name="upload" multiple="multiple"><br>
	  <input class="btn btn-primary" type="submit" value="Upload">
	</form>

</div>




