<h1>Courses</h1>

<table class="table">
	<thead>
		<th>name</th>
		<th>term</th>
		<th>lectured by</th>	
	</thead>
	<tbody>
		<tr ng-repeat="course in courses">
			<td>{{course.name}}</td>
			<td>{{course.term}}</td>
			<td>{{course.teachers}}</td>
			<td><a href="#courses/{{course._id}}">open</a></td>
			<td>{{course}}</td>
		</tr>
	</tbody>
</table>

<h3>create a new</h3>

<form>
	<div>
		name <input ng-model="new.name"></input>
	</div>
	<div>
		term <input ng-model="new.term"></input>	
	</div>
	<div>		
		teacher <input ng-model="new.teacher"></input>
	</div>
	<button ng-click="newCourse()">create</button>
</form>
