<h1>Courses</h1>

<table class="table hover">
	<thead>
		<th>name</th>
		<th>term</th>
		<th>lectured by</th>	
	</thead>
	<tbody>
		<tr ng-repeat="course in courses">
			<td><a href="#courses/{{course._id}}">{{course.name}}</a></td>
			<td>{{course.term}}</td>
			<td>{{course.teachers.join(' ')}}</td>
		</tr>
	</tbody>
</table>

<div class="boxed">

	<h3 ng-init="visible=false" ng-click="visible=!visible">create a new course</h3>

	<form ng-show="visible">
		<div>
			name <input ng-model="new.name"></input>
		</div>
		<div>
			term <input ng-model="new.term"></input>	
		</div>
		<div>		
			teacher <input ng-model="new.teacher"></input>
		</div>
		<button class="btn btn-primary" ng-click="newCourse()">create</button>
</form>

</div>