<h2>{{lecture.course.name}} {{lecture.course.term}}</h2>

<div class="lecture" ng-hide="lecture.seminar">
    Lecture of {{lecture.date|date}} at {{lecture.time}} in {{lecture.place}}
</div>

<div class="lecture" ng-show="lecture.seminar">
	Seminar session of {{lecture.date|date}},
	<strong>starting at {{lecture.time}}</strong> in {{lecture.place}}
	<div class="presenter">
		presentation given by <em>{{lecture.speaker}}</em>
	</div>
</div>

<div>

	<h3>Present</h3>

	<table class="table table-hover">
		<tr ng-repeat="s in lecture.participants|orderBy:'name'">
			<td>{{s.number}}</td>
			<td>{{s.name}}</td>
		</tr>
	</table>

</div>

<br>

<div class="btn-group">
	<a href="#courses/{{lecture.course._id}}" class="btn">to course page</a>
	<a href="#lectures/{{lecture._id}}/register" class="btn">to registration page</a>
	<a href="#courses/{{lecture.course._id}}" class="btn">edit 
	  <span ng-hide="lecture.seminar">lecture</span> 
      <span ng-show="lecture.seminar">session</span>
	information</a>
</div>

