<h2>{{course.name}} {{course.term}}</h2>

<div ng-show="nolecture">
	<div class="lecture">
		no lectures today!
	</div>	
</div>

<div ng-show="lecture.course.name">
	<div class="lecture" ng-hide="lecture.seminar">
		Lecture of {{lecture.date|date}} at {{lecture.time}} in {{lecture.place}}
	</div>

	<div class="lecture" ng-show="lecture.seminar">
		Seminar session of {{lecture.date|date}},
		<strong>starting at {{lecture.time}}</strong> in {{lecture.place}}
		<div class="presenter">
			presentation given by <em>{{lecture.speaker}}</em>
		</div>
	</div>

	<br>

    <div flash></div>

	<div ng-hide="flashed">

		<p ng-repeat="student in students|filter:condition">
			{{student.name}}
			<a ng-hide="registered(student)" ng-click="register(student)" class="btn btn-primary">register</a>
			<span ng-show="registered(student)">
			  <em>registered already!</em>
			</span>
		</p>

		<h3>start typing your name until it is found</h3>
		<input ng-model="search" placeholder="start typing either your first name or surename"></input>

		<div togglable alternative="Register yourself to the course"
		  title="If your name is not found, click here" 
		  condition='registrationFormVisible' class="register">
			<form role="form" name="form">
				<div class="form-group">
					<label>first name </label>   
					<input type="text" ng-model="student.first_name" class="form-control" required
					placeholder="first name">
				</div>
				<div class="form-group">
					<label>last name </label>
					<input type="text" ng-model="student.last_name" class="form-control" required
					placeholder="last name">
				</div>
				<div class="form-group">
					<label>student number</label>
					<input type="text" ng-model="student.number" class="form-control" required ng-pattern="student_number" name="number"
					placeholder="student number">
				</div>
				<div ng-show="form.number.$error.pattern">
    				<em>student number with leading zero!</em>
  	    		</div>
				<button ng-disabled="form.$invalid"  
					ng-click="registerNewStudent()"
					class='btn'
					ng-class="{'btn btn-primary': form.$valid}">register
				</button>

			</form>

		</div>
		
	</div>

<div>

