<h2>{{course.name}} {{course.term}}</h2>

<div ng-show="nolecture">
	<div class="lecture">
		no lectures today!
	</div>	
</div>

<div ng-show="lecture.course.name">
	<div class="lecture">
		Lecture of {{lecture.date|date}} at {{lecture.time}} in {{lecture.place}}
	</div>

	<br>

    <flash></flash>

	<div ng-hide="flashed">

		<p ng-repeat="student in students|filter:condition">
			{{student.name}}
			<a ng-hide="registered(student)" ng-click="register(student)" class="btn btn-primary">register</a>
			<span ng-show="registered(student)">
			  <em>registered already!</em>
			</span>
		</p>

		<p><strong>start typing your name until it is found</strong></p>
		<input ng-model="search"></input>

	</div>

<div>

