<h2>Lecture of {{lecture.course.name}} {{lecture.course.term}}</h2>

<div>
	{{lecture.date}} at {{lecture.time}} in {{lecture.place}}
</div>

<br>

{{lecture}}

<p><strong>start typing your name until it is found</strong></p>
<input ng-model="search"></input>

<br>
<strong>HUOMIOI JO REKISTERÖITYNEET, NO DUPLICATEZ</strong>
<br>

<p ng-repeat="student in students|filter:condition">
	<strong>mark yourself as present</strong><br>
	{{student.name}}
	<input ng-click="register(student._id)" type="checkbox"></input>
</p>

<br><br>

<a href="#courses/{{lecture.course._id}}">to course page</a>
